--
-- PostgreSQL database dump
--

-- Dumped from database version 14.12
-- Dumped by pg_dump version 14.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: loan_status_enum; Type: TYPE; Schema: public; Owner: virtome_user
--

CREATE TYPE public.loan_status_enum AS ENUM (
    'ACTIVE',
    'RETURNED',
    'OVERDUE'
);


ALTER TYPE public.loan_status_enum OWNER TO virtome_user;

--
-- Name: tokens_type_enum; Type: TYPE; Schema: public; Owner: virtome_user
--

CREATE TYPE public.tokens_type_enum AS ENUM (
    '0',
    '1',
    '2'
);


ALTER TYPE public.tokens_type_enum OWNER TO virtome_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.book (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    title character varying NOT NULL,
    "publicationYear" integer NOT NULL,
    "availableQuantity" integer DEFAULT 1 NOT NULL,
    "publisherId" integer
);


ALTER TABLE public.book OWNER TO virtome_user;

--
-- Name: book_categories; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.book_categories (
    "bookId" integer NOT NULL,
    "categoryId" integer NOT NULL
);


ALTER TABLE public.book_categories OWNER TO virtome_user;

--
-- Name: book_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.book_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.book_id_seq OWNER TO virtome_user;

--
-- Name: book_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.book_id_seq OWNED BY public.book.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.category (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    name character varying NOT NULL
);


ALTER TABLE public.category OWNER TO virtome_user;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.category_id_seq OWNER TO virtome_user;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: loan; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.loan (
    id integer NOT NULL,
    "borrowerName" character varying NOT NULL,
    quantity integer NOT NULL,
    "loanDate" date NOT NULL,
    "returnDate" date,
    status public.loan_status_enum DEFAULT 'ACTIVE'::public.loan_status_enum NOT NULL,
    "bookId" integer
);


ALTER TABLE public.loan OWNER TO virtome_user;

--
-- Name: loan_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.loan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.loan_id_seq OWNER TO virtome_user;

--
-- Name: loan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.loan_id_seq OWNED BY public.loan.id;


--
-- Name: multitenant; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.multitenant (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    tenant_id integer NOT NULL
);


ALTER TABLE public.multitenant OWNER TO virtome_user;

--
-- Name: multitenant_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.multitenant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.multitenant_id_seq OWNER TO virtome_user;

--
-- Name: multitenant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.multitenant_id_seq OWNED BY public.multitenant.id;


--
-- Name: publisher; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.publisher (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    name character varying NOT NULL
);


ALTER TABLE public.publisher OWNER TO virtome_user;

--
-- Name: publisher_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.publisher_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.publisher_id_seq OWNER TO virtome_user;

--
-- Name: publisher_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.publisher_id_seq OWNED BY public.publisher.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.role (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    name character varying(255) NOT NULL
);


ALTER TABLE public.role OWNER TO virtome_user;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_id_seq OWNER TO virtome_user;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: tenant; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.tenant (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    subdomain character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    contact_email character varying(255) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    settings jsonb,
    plan character varying(100),
    subscription_expires_at timestamp with time zone
);


ALTER TABLE public.tenant OWNER TO virtome_user;

--
-- Name: tenant_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.tenant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tenant_id_seq OWNER TO virtome_user;

--
-- Name: tenant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.tenant_id_seq OWNED BY public.tenant.id;


--
-- Name: tokens; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public.tokens (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id integer NOT NULL,
    type public.tokens_type_enum NOT NULL,
    token_hash character varying NOT NULL,
    metadata jsonb,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tokens OWNER TO virtome_user;

--
-- Name: user; Type: TABLE; Schema: public; Owner: virtome_user
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone,
    name character varying(255) NOT NULL,
    surname character varying(255),
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public."user" OWNER TO virtome_user;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: virtome_user
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO virtome_user;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: virtome_user
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: book id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.book ALTER COLUMN id SET DEFAULT nextval('public.book_id_seq'::regclass);


--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: loan id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.loan ALTER COLUMN id SET DEFAULT nextval('public.loan_id_seq'::regclass);


--
-- Name: multitenant id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.multitenant ALTER COLUMN id SET DEFAULT nextval('public.multitenant_id_seq'::regclass);


--
-- Name: publisher id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.publisher ALTER COLUMN id SET DEFAULT nextval('public.publisher_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: tenant id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.tenant ALTER COLUMN id SET DEFAULT nextval('public.tenant_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.book (id, created_at, updated_at, deleted_at, title, "publicationYear", "availableQuantity", "publisherId") FROM stdin;
\.


--
-- Data for Name: book_categories; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.book_categories ("bookId", "categoryId") FROM stdin;
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.category (id, created_at, updated_at, deleted_at, name) FROM stdin;
\.


--
-- Data for Name: loan; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.loan (id, "borrowerName", quantity, "loanDate", "returnDate", status, "bookId") FROM stdin;
\.


--
-- Data for Name: multitenant; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.multitenant (id, created_at, updated_at, deleted_at, tenant_id) FROM stdin;
\.


--
-- Data for Name: publisher; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.publisher (id, created_at, updated_at, deleted_at, name) FROM stdin;
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.role (id, created_at, updated_at, deleted_at, name) FROM stdin;
\.


--
-- Data for Name: tenant; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.tenant (id, created_at, updated_at, deleted_at, subdomain, name, contact_email, is_active, is_demo, settings, plan, subscription_expires_at) FROM stdin;
\.


--
-- Data for Name: tokens; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public.tokens (id, user_id, type, token_hash, metadata, expires_at, used_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: virtome_user
--

COPY public."user" (id, created_at, updated_at, deleted_at, name, surname, email, password) FROM stdin;
\.


--
-- Name: book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.book_id_seq', 1, false);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.category_id_seq', 1, false);


--
-- Name: loan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.loan_id_seq', 1, false);


--
-- Name: multitenant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.multitenant_id_seq', 1, false);


--
-- Name: publisher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.publisher_id_seq', 1, false);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.role_id_seq', 1, false);


--
-- Name: tenant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.tenant_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: virtome_user
--

SELECT pg_catalog.setval('public.user_id_seq', 1, false);


--
-- Name: tokens PK_3001e89ada36263dabf1fb6210a; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT "PK_3001e89ada36263dabf1fb6210a" PRIMARY KEY (id);


--
-- Name: book_categories PK_497881108e5c8f27e9228233207; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.book_categories
    ADD CONSTRAINT "PK_497881108e5c8f27e9228233207" PRIMARY KEY ("bookId", "categoryId");


--
-- Name: loan PK_4ceda725a323d254a5fd48bf95f; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT "PK_4ceda725a323d254a5fd48bf95f" PRIMARY KEY (id);


--
-- Name: publisher PK_70a5936b43177f76161724da3e6; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.publisher
    ADD CONSTRAINT "PK_70a5936b43177f76161724da3e6" PRIMARY KEY (id);


--
-- Name: multitenant PK_8af996f5dec8b121a36498ea502; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.multitenant
    ADD CONSTRAINT "PK_8af996f5dec8b121a36498ea502" PRIMARY KEY (id);


--
-- Name: category PK_9c4e4a89e3674fc9f382d733f03; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT "PK_9c4e4a89e3674fc9f382d733f03" PRIMARY KEY (id);


--
-- Name: book PK_a3afef72ec8f80e6e5c310b28a4; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT "PK_a3afef72ec8f80e6e5c310b28a4" PRIMARY KEY (id);


--
-- Name: role PK_b36bcfe02fc8de3c57a8b2391c2; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT "PK_b36bcfe02fc8de3c57a8b2391c2" PRIMARY KEY (id);


--
-- Name: user PK_cace4a159ff9f2512dd42373760; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_cace4a159ff9f2512dd42373760" PRIMARY KEY (id);


--
-- Name: tenant PK_da8c6efd67bb301e810e56ac139; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.tenant
    ADD CONSTRAINT "PK_da8c6efd67bb301e810e56ac139" PRIMARY KEY (id);


--
-- Name: tenant UQ_a1da63250e49e1cfb2cf9bacfaf; Type: CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.tenant
    ADD CONSTRAINT "UQ_a1da63250e49e1cfb2cf9bacfaf" UNIQUE (subdomain);


--
-- Name: IDX_11a8804bb7f4ae35b4a5a118b1; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE INDEX "IDX_11a8804bb7f4ae35b4a5a118b1" ON public.book_categories USING btree ("bookId");


--
-- Name: IDX_62be8350e38c1065a75e10f84e; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE INDEX "IDX_62be8350e38c1065a75e10f84e" ON public.tenant USING btree (contact_email);


--
-- Name: IDX_8769073e38c365f315426554ca; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE INDEX "IDX_8769073e38c365f315426554ca" ON public.tokens USING btree (user_id);


--
-- Name: IDX_989478f994a58e1a3b8b9b35a0; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE UNIQUE INDEX "IDX_989478f994a58e1a3b8b9b35a0" ON public.tokens USING btree (token_hash);


--
-- Name: IDX_a1da63250e49e1cfb2cf9bacfa; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE UNIQUE INDEX "IDX_a1da63250e49e1cfb2cf9bacfa" ON public.tenant USING btree (subdomain);


--
-- Name: IDX_c0a4df5b433e69fd4a038627d6; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE INDEX "IDX_c0a4df5b433e69fd4a038627d6" ON public.multitenant USING btree (tenant_id);


--
-- Name: IDX_fcdf094e1e43afe76a6c95138c; Type: INDEX; Schema: public; Owner: virtome_user
--

CREATE INDEX "IDX_fcdf094e1e43afe76a6c95138c" ON public.book_categories USING btree ("categoryId");


--
-- Name: book_categories FK_11a8804bb7f4ae35b4a5a118b1b; Type: FK CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.book_categories
    ADD CONSTRAINT "FK_11a8804bb7f4ae35b4a5a118b1b" FOREIGN KEY ("bookId") REFERENCES public.book(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: loan FK_1465982ea6993042a656754f4cc; Type: FK CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT "FK_1465982ea6993042a656754f4cc" FOREIGN KEY ("bookId") REFERENCES public.book(id);


--
-- Name: tokens FK_8769073e38c365f315426554ca5; Type: FK CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT "FK_8769073e38c365f315426554ca5" FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: book FK_b8988524dd01b5dcb67b4b3ede7; Type: FK CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT "FK_b8988524dd01b5dcb67b4b3ede7" FOREIGN KEY ("publisherId") REFERENCES public.publisher(id) ON DELETE CASCADE;


--
-- Name: multitenant FK_c0a4df5b433e69fd4a038627d6b; Type: FK CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.multitenant
    ADD CONSTRAINT "FK_c0a4df5b433e69fd4a038627d6b" FOREIGN KEY (tenant_id) REFERENCES public.tenant(id);


--
-- Name: book_categories FK_fcdf094e1e43afe76a6c95138c9; Type: FK CONSTRAINT; Schema: public; Owner: virtome_user
--

ALTER TABLE ONLY public.book_categories
    ADD CONSTRAINT "FK_fcdf094e1e43afe76a6c95138c9" FOREIGN KEY ("categoryId") REFERENCES public.category(id);


--
-- PostgreSQL database dump complete
--

